<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <display-name>memo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoMainServlet</display-name>
    <servlet-name>MemoMainServlet</servlet-name>
    <servlet-class>servlet.MemoMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoMainServlet</servlet-name>
    <url-pattern>/MemoMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoRegistration</display-name>
    <servlet-name>MemoRegistration</servlet-name>
    <servlet-class>servlet.MemoRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoRegistration</servlet-name>
    <url-pattern>/MemoRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoRegistrationServlet</display-name>
    <servlet-name>MemoRegistrationServlet</servlet-name>
    <servlet-class>servlet.MemoRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoRegistrationServlet</servlet-name>
    <url-pattern>/MemoRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoAddServlet</display-name>
    <servlet-name>MemoAddServlet</servlet-name>
    <servlet-class>servlet.MemoAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoAddServlet</servlet-name>
    <url-pattern>/MemoAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoAdditionServlet</display-name>
    <servlet-name>MemoAdditionServlet</servlet-name>
    <servlet-class>servlet.MemoAdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoAdditionServlet</servlet-name>
    <url-pattern>/MemoAdditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoDelServlet</display-name>
    <servlet-name>MemoDelServlet</servlet-name>
    <servlet-class>servlet.MemoDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoDelServlet</servlet-name>
    <url-pattern>/MemoDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoEdiServlet</display-name>
    <servlet-name>MemoEdiServlet</servlet-name>
    <servlet-class>servlet.MemoEdiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoEdiServlet</servlet-name>
    <url-pattern>/MemoEdiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoUpServlet</display-name>
    <servlet-name>MemoUpServlet</servlet-name>
    <servlet-class>servlet.MemoUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoUpServlet</servlet-name>
    <url-pattern>/MemoUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoSearchServlet</display-name>
    <servlet-name>MemoSearchServlet</servlet-name>
    <servlet-class>servlet.MemoSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoSearchServlet</servlet-name>
    <url-pattern>/MemoSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoSearchUpServlet</display-name>
    <servlet-name>MemoSearchUpServlet</servlet-name>
    <servlet-class>servlet.MemoSearchUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoSearchUpServlet</servlet-name>
    <url-pattern>/MemoSearchUpServlet</url-pattern>
  </servlet-mapping>
</web-app>